@using mvcproje1.Models.Entity;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Ogrenci/index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Öğrenci ID</th>
        <th>Öğrenci Adı</th>
        <th>Öğrenci Soyadı</th>
        <th>Öğrenci Cinsiyeti</th>
        <th>Öğrenci Kulübü</th>
        <th>İşlemler</th>

    </tr>
    <tbody>
        @foreach (var ogr in Model)
        {
            <tr>
                <td>@ogr.Ogrid</td>
                <td>@ogr.Ograd</td>
                <td>@ogr.Ogrsoyad</td>
                <td>@ogr.OgrCinsiyet</td>
                <td>@ogr.Tab_Kulupler.Ogkulupad</td>
                <td>
                    <a href="~/Ogrenci/Sil/@ogr.Ogrid" class="btn btn-danger">Sil</a>
                    <a href="~/Ogrenci/OgrenciGetir/@ogr.Ogrid" class="btn btn-success">Guncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="~/Ogrenci/YeniOgrenci" class="btn btn-primary">Yeni Öğrenci Kaydı</a>


